body {
  margin: 0;
  background: black;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}

.pulsatingDot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 100%;
  opacity: 0;
  animation: 1s ease-in-out alternate infinite pulsate;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.keyboard {
  position: fixed;
  bottom: 20vh;
  display: grid;
  grid-template-areas: 1fr 1fr;
}

.keyboard.pulsating {
  animation: 1.5s ease-in-out alternate infinite pulsate;
}

.keyboard .white-keys {
  grid-area: 1 / 1;
  display: flex;
}

.keyboard .black-keys {
  grid-area: 1 / 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.keyboard .white-keys div,
.keyboard .black-keys div {
  border: 1px white solid;
  border-radius: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 100;
  transition: background 250ms, color 250ms;
}

.keyboard .white-keys div {
  height: 100px;
  width: 30px;
}

.keyboard .black-keys div {
  position: relative;
  width: 20px;
  height: 60px;
  background: black;
}

.keyboard div.blank {
  visibility: hidden;
}

.keyboard div.pressed {
  background: white;
  color: black;
}
